body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container {
  width: 40vw;
  height: 90vh;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
}
