.canvas-container {
  width: 1100px;
  height: 95vh;
  aspect-ratio: 4 / 5;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;

  @media (max-width: 1200px) {
    width: 95vw;
    height: 90vh;
  }

  @media (max-width: 1200px) {
    width: 95vw;
    height: 90vh;
  }
}
